<section>
  <div class="page-header">
    <h1>
      Questions
      <a class="btn btn-primary pull-right" data-ui-sref="admin.questions.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="question in vm.questions" data-ui-sref="admin.questions.edit({questionId: question._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="question.created | date:'mediumDate'"></span>
        by
        <span ng-if="question.user" ng-bind="question.user.displayName"></span>
        <span ng-if="!question.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="question.title"></h4>
      <p class="list-group-item-text" data-ng-bind="question.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="questions.$resolved && !questions.length">
    No questions yet, why don't you <a data-ui-sref="admin.questions.create">create one</a>?
  </div>
</section>
