<section>
  <div class="page-header">
    <h1>Advertisments</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="advertisment in vm.advertisments" ui-sref="advertisments.view({ advertismentId: advertisment._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="advertisment.created | date:'mediumDate'"></span>
        by
        <span ng-if="advertisment.user" ng-bind="advertisment.user.displayName"></span>
        <span ng-if="!advertisment.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="advertisment.title"></h4>
      <p class="list-group-item-text" ng-bind="advertisment.content"></p>
    </a>
  </div>
</section>
