<section>
  <div class="page-header">
    <h1>
      Techs
      <a class="btn btn-primary pull-right" data-ui-sref="admin.techs.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="tech in vm.techs" data-ui-sref="admin.techs.edit({techId: tech._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="tech.created | date:'mediumDate'"></span>
        by
        <span ng-if="tech.user" ng-bind="tech.user.displayName"></span>
        <span ng-if="!tech.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="tech.title"></h4>
      <p class="list-group-item-text" data-ng-bind="tech.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="techs.$resolved && !techs.length">
    No techs yet, why don't you <a data-ui-sref="admin.techs.create">create one</a>?
  </div>
</section>
